body {
    background-color: rgb(54, 54, 54);
    color: black;
    text-align: center;
    align-items: center;
}

/* CSS COMMENT */

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    width: 500px;
    padding: 10px;
    border-radius: 20px;
}

h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.top-section {
    background-color: aliceblue;
}

.bottom-section {
    background-color: aliceblue;
}

.intro {
    font-weight: 700;
}

.highlight {
    color: brown;
    font-style: italic;
}

/* CSS Box Model */

.box {
    background-color: brown;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    border-top: dotted 5px black;
    border-bottom: dotted 5px black;
    padding: 20px;
}

.radius {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    border: solid black 10px;
    background-color: aliceblue;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
    border-radius: 60px;
}